.clear {
  clear: both;
}
.add_config_to_cart {
  display: none;
}
#config-modal {
  height: 100%;
  overflow: hidden;
  .modal-header,
  .modal-footer {
    position: absolute;
    height: 100px;
    width: 100%;
    // background: grey;
  }
  .modal-header:after {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.2);
    width: calc(100% - 100px);
    height: 1px;
    bottom: 0px;
    position: absolute;
  }
  .modal-footer {
    bottom: 0;
    padding-top: 25px;
    .btn {
      margin: 0 0 0 15px;
    }
  }
  .modal-footer:before {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.2);
    width: calc(100% - 100px);
    height: 1px;
    top: 0;
    position: absolute;
  }
  .modal-dialog {
    margin: 15px auto;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    bottom: 100px;
    top: 100px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding: 0 15px;
    .row {
      height: 100%;
    }
  }
  .config-option-col {
    background-color: #181818;
    overflow: scroll;
    .config-option:not(:nth-last-child(1)) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .config-option {
      display: block;
      position: relative;
      padding: 40px 0;
      h5 {
        display: inline-block;
        color: rgba(255, 255, 255, 0.7);
      }
      h5.config-option-status {
        margin: 0 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .config-option.active {
      padding: 34.5px 0;
      h5 {
        color: white;
      }
    }
    .config-option.active h5:first-of-type {
      padding-bottom: 10px;
      border-bottom: 1px solid red;
    }
  }
  h5.config-price {
    display: inline-block;
    margin-right: 20px;
  }
  .config-selection-col {
    overflow: scroll;
  }
  .config-wheel-carousel-col:after {
    content: ' ';
    height: 80%;
    width: 1px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10%;
  }
  .config-wheel-carousel-col .wp-full-height {
    padding: 30px 60px 60px;
  }
  .config-wheel-carousel-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    // height: 100%;
  }
  #config-wheel-carousel img {
    // max-height: 400px;
  }
  .modal-body div[class^="col-"] {
    height: 100%
  }
  .config-selection, .config-option-wrapper {
    height: 100%;
    // overflow: scroll;
  }
  .config-selection {
    // padding: 0 15px;
  }
  .config-selection-item:not(:nth-last-child(1)) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .config-selection-item {
    display: block;
    padding: 10px 0;
  }
  .config-selection-item img {
    display: inline-block;
    width: 40%;
  }
  .config-selection-item h5 {
    display: inline-block;
  }
  .config-selection-finish .config-selection-item {
    padding: 45px 0;
    a {
      display: inline-block;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.54);
      border: solid rgba(0, 0, 0, 0.54) 1px;
      padding: 3px 5px;
      margin-left: 25px;
      position: relative;
      padding-left: 20px;
      color: rgba(0, 0, 0, 0.97);
    }
    .pa-color-swatch-swatch {
      background-color:#000000;
      width: 10px;
      height: 70%;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
    }
  }
  .config-selection-size .config-selection-item {
    padding: 45px 0;
    .pa-option {
      float: right;
      display: inline-block;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.54);
      border: solid rgba(0, 0, 0, 0.54) 1px;
      padding: 3px 5px;
      margin-top: 7.5px;
      margin-left: 7.5px;
    }
  }
  .config-selection-summary .config-selection-item {
    border-bottom: 0;
    h5 {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 15px;
    }
    h5:not(:nth-last-child(1)) span {
      color: #888;
    }
  }
  .config-selection-container {
    // height: 0;
    // position: absolute;
    // left: 100%;
    display: none;
  }
  .config-selection-container.active {
    // height: 100%;
    // position: relative;
    // transition: 1s;
    // left: 0;
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  #config-modal {
    .config-option-wrapper {
      padding: 0 40px;
    }
    .config-selection {
      padding: 0 20px;
    }
    .config-wheel-carousel-col .wp-full-height {
      padding: 30px 20% 60px;
    }
  }

}

@media only screen and (max-width: 768px) {
  #config-modal {
    overflow-y: auto;
    .modal-body {
      overflow-y: scroll;
    }
    .modal-body div[class^="col-"] {
      height: auto;
    }
  }
}

@media only screen and (max-width: 480px) {
  #config-modal {
    h5.config-price {
      display: block;
      margin-right: 0;
    }
  }
}

// Mobile CONFIG
#config-modal-mobile {
  height: 100%;
  overflow: hidden;
  .modal-header {
    position: absolute;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 1;
  }

  .modal-footer {
    position: absolute;
    height: auto;
    width: 100%;
    padding: 15px;
    bottom: 0;
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    .arrow-container {
      padding: 20px 0;
    }
    .btn {
      margin: 0 0 0 15px;
    }
  }
  .modal-footer:before {
    // content: ' ';
    // background-color: rgba(0, 0, 0, 0.2);
    // width: calc(100% - 100px);
    // height: 1px;
    // top: 0;
    // position: absolute;
  }
  .modal-dialog {
    margin: 15px auto;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    bottom: 100px;
    top: 90px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    padding: 0 15px;
    .row {
      height: 100%;
    }
  }
  #config-wheel-carousel-mobile {
    .slick-list {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  .config-option-wrapper {
    // overflow-x: auto;
    width: 100%;
    a i {
      margin: 0;
    }
    a i, .config-option {
      padding: 5px 0;
    }
    .config-option {
        display: none;
        text-align: center;
    }
    .config-option.active {
      display: inline-block;
      border-bottom: 2px red solid;
    }
  }
  h5.config-price {
    display: inline-block;
  }
  .config-wheel-carousel-wrapper {
    padding: 5px 20% 30px;
  }
  #config-wheel-carousel img {
    // max-height: 400px;
  }
  .config-selection, .config-option-wrapper {
    position: relative;
    padding: 5px;
    // height: 100%;
    // overflow: scroll;
  }
  .config-selection {
    // padding: 0 15px;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 15px 30px 30px;
    #config-selection-caps-mobile, #config-selection-stars-mobile {
      width: 100%;
    }
  }
  .config-selection-item {
    padding: 10px 0;
    text-align: center;
  }
  .config-selection-item img {
    margin: 0 auto;
    // display: inline-block;
    // width: 40%;
  }
  .config-selection-item h5 {
    // display: inline-block;
  }
  .config-selection-carousel-mobile-button {
    width: auto;
    position: absolute;
    left: 100%;
    top: 50%;
    border: 0;
    box-shadow: none;
    transform: translateY(-50%);
    font-size: 34px;
    background: transparent;
    color: rgba(0, 0, 0, 0.84);
  }
  .config-selection-carousel-mobile-button.carousel-button-left {
    left: auto;
    right: 100%;
  }
  .config-selection-size .config-selection-item:not(:nth-last-child(1)) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .config-selection-size .config-selection-item {
    text-align: left;
    padding: 15px 0;
    h5 {
      display: inline-block;
    }
    .pa-option {
      float: right;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.54);
      border: 1px solid rgba(0, 0, 0, 0.54);
      padding: 3px 5px;
      margin-top: 7.5px;
      margin-left: 7.5px;
    }
  }

  .config-selection-summary .config-selection-item {
    text-align: left;
    border-bottom: 0;
    h5 {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 15px;
    }
    h5:not(:nth-last-child(1)) span {
      color: #888;
    }
  }
  .config-selection-finish .config-selection-item:not(:nth-last-child(1)) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .config-selection-finish .config-selection-item {
    padding: 10px 0;
    a {
      display: inline-block;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.54);
      border: solid rgba(0, 0, 0, 0.54) 1px;
      padding: 3px 5px;
      position: relative;
      padding-left: 20px;
      color: rgba(0, 0, 0, 0.97);
    }
    .pa-color-swatch-swatch {
      background-color:#000000;
      width: 10px;
      height: 70%;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
    }
  }
  .config-selection-container {
    position: absolute;
    left: 110%;
    // transition: 1s;
  }
  .config-selection-container.active {
    display: block;
    position: relative;
    transition: 1s;
    left: 0;
  }
}
