#config-modal {
  height: 100%;
  overflow: hidden;
}

#config-modal .modal-header,
#config-modal .modal-footer {
  position: absolute;
  height: 100px;
  width: 100%;
}

#config-modal .modal-header:after {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(100% - 100px);
  height: 1px;
  bottom: 0px;
  position: absolute;
}

#config-modal .modal-footer {
  bottom: 0;
  padding-top: 25px;
}

#config-modal .modal-footer:before {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(100% - 100px);
  height: 1px;
  top: 0;
  position: absolute;
}

#config-modal .modal-dialog {
  margin: 15px auto;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

#config-modal .modal-content {
  height: 100%;
}

#config-modal .modal-body {
  bottom: 100px;
  top: 100px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  padding: 0 15px;
}

#config-modal .modal-body .row {
  height: 100%;
}

#config-modal .config-option-col {
  background-color: #181818;
  overflow: scroll;
}

#config-modal .config-option-col .config-option:not(:nth-last-child(1)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#config-modal .config-option-col .config-option {
  padding: 40px 0;
}

#config-modal .config-option-col .config-option h5 {
  color: white;
}

#config-modal h5.config-price {
  display: inline-block;
  margin-right: 20px;
}

#config-modal .config-selection-col {
  overflow: scroll;
}

#config-modal .config-wheel-carousel-col:after {
  content: ' ';
  height: 80%;
  width: 1px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10%;
}

#config-modal .config-wheel-carousel-col .wp-full-height {
  padding: 30px 60px 60px;
}

#config-modal .config-wheel-carousel-wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#config-modal .modal-body div[class^="col-"] {
  height: 100%;
}

#config-modal .config-selection, #config-modal .config-option-wrapper {
  height: 100%;
}

#config-modal .config-selection-item:not(:nth-last-child(1)) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#config-modal .config-selection-item {
  padding: 10px 0;
}

#config-modal .config-selection-item img {
  display: inline-block;
  width: 40%;
}

#config-modal .config-selection-item h5 {
  display: inline-block;
}

@media only screen and (min-width: 1200px) {
  #config-modal .config-option-wrapper {
    padding: 0 40px;
  }
  #config-modal .config-selection {
    padding: 0 20px;
  }
  #config-modal .config-wheel-carousel-col .wp-full-height {
    padding: 30px 20% 60px;
  }
}

@media only screen and (max-width: 768px) {
  #config-modal {
    overflow-y: auto;
  }
  #config-modal .modal-body {
    overflow-y: scroll;
  }
  #config-modal .modal-body div[class^="col-"] {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  #config-modal h5.config-price {
    display: block;
    margin-right: 0;
  }
}

#config-modal-mobile {
  height: 100%;
  overflow: hidden;
}

#config-modal-mobile .modal-header,
#config-modal-mobile .modal-footer {
  position: absolute;
  height: 100px;
  width: 100%;
}

#config-modal-mobile .modal-header:after {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(100% - 100px);
  height: 1px;
  bottom: 0px;
  position: absolute;
}

#config-modal-mobile .modal-footer {
  bottom: 0;
  padding-top: 25px;
}

#config-modal-mobile .modal-footer:before {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(100% - 100px);
  height: 1px;
  top: 0;
  position: absolute;
}

#config-modal-mobile .modal-dialog {
  margin: 15px auto;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

#config-modal-mobile .modal-content {
  height: 100%;
}

#config-modal-mobile .modal-body {
  bottom: 100px;
  top: 100px;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  padding: 0 15px;
}

#config-modal-mobile .modal-body .row {
  height: 100%;
}

#config-modal-mobile .config-option-wrapper {
  width: 100%;
}

#config-modal-mobile .config-option-wrapper a i {
  margin: 0;
}

#config-modal-mobile .config-option-wrapper .config-option {
  display: none;
  text-align: center;
}

#config-modal-mobile .config-option-wrapper .config-option.active {
  display: block;
}

#config-modal-mobile h5.config-price {
  display: inline-block;
  margin-right: 20px;
}

#config-modal-mobile .config-wheel-carousel-wrapper {
  padding: 5px 20% 30px;
}

#config-modal-mobile .config-selection-item:not(:nth-last-child(1)) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#config-modal-mobile .config-selection-item {
  padding: 10px 0;
  text-align: center;
}
