$sidenavPadRight: 45px;
$sidenavPadLeft: 7%;
$sidenavPadTopBot: 12px;
$sidenavPadTopBotMobile: 0px;
$sidenavFontSize: 26px;
$sidenavFontSizeMobile: 20px;
$sidenavLineHeight: 80px;
$sidenavLineHeightMobile: 60px;
$gray: rgba(0, 0, 0, 0.5);
$grey: $gray;

/* COPIED FROM STYLE.SCSS */
$white: rgba(255, 255, 255, 0.97);
$black: rgba(0, 0, 0, 0.97);
$bodyBlack: rgba(0, 0, 0, 0.54);
/* /END COPIED */

#sidenav {
	position: absolute;
	left: 100%;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.5s;

	/* Remove gutters */
	margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

	&.active {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1001;
		top: 0;
		left: 0;
		opacity: 1;
	}

	.toggle-wrapper {
		top: 20px;

		@media screen and (max-width: 767px){
			& {
				top: 0;
				right: 0;
				padding-right: 20px;
				width: 100%;
				background: $white;
			}
		}

		.side-nav-close {
			min-width: 22px;
			height: 120px;
			padding: 0;

			@media screen and (max-width: 767px){
				& {
					height: 100px;
				}
			}

			.close-icon {
				width: 50px;
				height: 50px;
				background-image: url('../images/sidenav-close-icon.png');
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center center;

				@media screen and (max-width: 767px){
					& {
						width: 43px;
						height: 43px;
					}
				}
			}
		}
	}

	@media screen and (min-width: 768px){
		.sidenav-left {
			position: relative;
			height: 100%;
			background-image: url('../images/sidenav-bg.jpg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			.sidenav-logo-wrapper {
				padding: 100px $sidenavPadLeft;
			}
			.sidenav-social-media {
				position: absolute;
				bottom: 45px;
				left: $sidenavPadLeft;
				
				a {
					display: inline-block;
					padding-right: 20px;

					.fa {
						color: $white;
					}
				}
			}
		}
	}
	@media screen and (max-width: 767px){
		.sidenav-left {
			position: absolute;
			z-index: 1003;
			top: 30px;
			left: 10%;

			.sidenav-social-media {
				display: none;
			}
		}
	}
	.sidenav-right {
		position: relative;
		height: 100%;
		background-color: #FFF;

		.sidenav-right-texture {
			position: absolute;
			z-index: 1002;
			height: 100%;
			width: 77px;
			top: 0;
			left: -77px;
			background-image: url('../images/textures/texture-sidenav.png');
			background-position: right center;
			background-size: contain;
			background-repeat: no-repeat;

			@media screen and (max-width: 767px){
				& {
					left: 0;
					background-image: url('../images/sidenav-bg-mobile.jpg');
					background-position: -40px center;
					background-size: cover;
				}
			}
		}

		.sidenav-right-inner {
			height: 100%;
			overflow-y: auto; /* Scroll if too many menu items */
			padding-top: 160px;
			padding-bottom: 160px;
			padding-right: 15%;

			.sidenav-social-media {
				display: none;
			}

			@media screen and (max-width: 767px){
				& {
					// background-image: url('../images/sidenav-bg-mobile.jpg');
					// background-position: -40px center;
					// background-size: contain;
					// background-repeat: no-repeat;
					padding-top: 90px;
					padding-bottom: 10px;
				}

				.sidenav-social-media {
					display: block;
					text-align: right;
					padding-top: ($sidenavPadTopBotMobile+10);
					padding-right: $sidenavPadRight;

					a {
						display: inline-block;
						padding: 20px 0 20px 20px;
						.fa {
							color: $black;
						}
					}
				}
			}

			.nav .nav-item,
			.navbar-form,
			.navbar-form input,
			.navbar-form input::placeholder {
				text-align: right;
			}
			.navbar-form input {
				width: 100%;
				padding-right: 0;
				border-style: solid;
				border-color: transparent;
				box-shadow: none;
			}
			.navbar-form input::placeholder {
				text-transform: uppercase;
			}
			.nav .nav-item a,
			.nav .nav-item a:hover,
			.nav .nav-item a:active,
			.nav .nav-item a:visited,
			.navbar-form input,
			.navbar-form input::placeholder {
				font-family: 'Barlow Condensed', sans-serif;
				font-size: $sidenavFontSize;
				letter-spacing: 2px;
			}
			.nav .nav-item a,
			.nav .nav-item a:hover,
			.nav .nav-item a:active,
			.nav .nav-item a:visited,
			.navbar-form input {
				color: $black;
				background-color: transparent;
			}

			.nav .nav-item a,
			.nav .nav-item a:hover,
			.nav .nav-item a:active,
			.nav .nav-item a:visited {
				padding: ($sidenavPadTopBot/2) $sidenavPadRight;
				line-height: $sidenavLineHeight;

				@media screen and (max-width: 767px){
					& {
						padding: ($sidenavPadTopBotMobile/2) $sidenavPadRight;
						line-height: $sidenavLineHeightMobile;
					}
				}
			}
			.navbar-form {
				padding-bottom: ($sidenavPadTopBot+5);
				padding-right: $sidenavPadRight;
				margin-right: 0;

				@media screen and (max-width: 767px){
					& {
						padding-bottom: ($sidenavPadTopBotMobile+5);
					}
				}
			}

			.nav .nav-item a.active span {
				/* text-decoration: line-through; */
				position: relative;
			}
			.nav .nav-item a.active span::after {
				border-bottom: 1px solid $black;
				content: "";
				left: -20px;
				position: absolute;
				right: -20px;
				top: 50%;
			}

			.sidenav-copyright {
				width: 100%;
				padding-top: ($sidenavPadTopBot+10);
				padding-right: $sidenavPadRight;
				text-align: right;
				font-family: 'Barlow Condensed', sans-serif;
				font-size: 18px;
				color: $gray;

				@media screen and (max-width: 767px){
					& {
						padding-top: 20px;
					}
				}
			}
		}
	}
}
