$lightblack: #2C3032;
$navLogoHeight: 30px;
$navHeight: 60px;
$headerHeight: 40px;
$headerFontSize: 12px;
$navBorderColor: #e7e7e7;

h1, h2, h3, h4 {
  font-family: monospace;
}
p {
  font-weight: sans-serif;
}
header, nav, footer, .btn, .oswald {
  font-family: "Oswald", sans-serif;
}
footer {
  margin-top: -5px;
}
footer.black-footer {
  background-color: black;
  color: white;
  a {
    color: white;
  }
}
.blog-wrapper {
  background-color: #F2F2F2;
}
.featured-blog {
  width: 90%;
  padding-top: 100px;
}
.featured-blog-info-wrap {
  padding: 60px 60px 0px;
  .featured-blog-header {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: .15em;
  }
  .featured-blog-desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    letter-spacing: 0.15em;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.featured-blog-more {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  .featured-blog-date {
    text-align: right;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    letter-spacing: .15em;
    color: #777;
  }
}
#featuredBlog {
  height: 500px;
  margin: 0 auto;
  width: 90%;
  padding: 50px 0 0;
  overflow: hidden;
  .image-col {
    padding: 0;
    overflow: hidden;
  }
}
.featured-blog-image-wrap {
  overflow: hidden;
  max-height: 100%;
  #featuredBlogImage {
    max-height: 100%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 100%;
  }
}
.blog-item {
  margin-top: 20px;
  background-color: #fff;
  width: 320px;
  height: auto;
  overflow: hidden;
  img {
    width: 100%;
    max-height: 100%;
  }
  .blog-item-info-wrap {
    padding: 35px;
  }
  .blog-item-more {
    padding: 35px;
    p {
      text-align: left;
      font-family: "Oswald", sans-serif;
      font-size: 12px;
      letter-spacing: .15em;
      color: #777;
      span {
        float:right;
        a {
          color: red;
        }
      }
    }
  }
  .blog-item-header {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: .15em;
  }
}
.blog-item-container {
  width: 80%;
  margin: 20px auto 40px;
}
.footer-header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 0.2em;
}
.roboto {
  h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif !important;
  }
}
header {
  height: $headerHeight;
  padding: 10px 0;
  border-bottom: 2px solid $navBorderColor;
  a {
    color: #777;
    letter-spacing: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: $headerFontSize;
  }
  .icon {
    font-size: $headerFontSize+2;
    padding-left: 15px;
    padding-right: 10px;
  }
  .icon ~ .icon {
    padding-left: 10px;
    padding-right: 10px;
  }
  a:hover, a:focus {
    color: #333;
    background-color: transparent;
    text-decoration: none;
  }
  a:first-of-type {
    padding-left: 0 !important;
  }
  a:last-of-type {
    padding-right: 0 !important;
  }
  .navbar-divider {
    color: #e7e7e7;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.nav li:last-of-type a {
  padding-right: 100px;
}
input.form-control {
  border-radius: 0;
}
.input-group span .btn {
  border-radius: 0;
}
.no-padding {
  padding: 0;
}
.pad-bottom {
  padding-bottom: 30px;
}
footer {
  padding-top: 100px;
  padding-bottom: 20px;
  letter-spacing: 0.15em;
  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $navBorderColor;
  }
  .links {
    padding-top: 50px;
  }
  .links [class*="col-"] {
    padding-bottom: 20px;
  }
  a {
    color: black;
    font-weight: 200;
  }
  .links-heading {
    font-weight: 400;
    padding-bottom: 15px;
  }
  .footerLogo {
    height: $navLogoHeight;
  }

}
.text-center {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  img {
    margin-left: auto;
    margin-right: auto;
  }
  h1, h2, h3, h4, h5, p {
    text-align: center;
  }
}

.text-uppercase {
  text-transform: uppercase;
}
nav .container-fluid, header .container-fluid {
  padding-right: 45px;
  padding-left: 45px;
}
#navPad {
  padding-top: 15px;
  padding-bottom: 15px
}

.navbar-default {
  // border-top-width: 1px;
  // border-bottom-width: 0;
  background-color: white;
  margin-bottom: 0;
}
.navbar-default.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.nav-wrapper {
  min-height: $navHeight;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
  background-color: transparent;
}
// .navbar-default .navbar-nav>li>a {
//   color: white;
// }
// .navbar-default .navbar-nav>li>a:hover {
//   color: black;
//   transition: color 1s;
// }
// .navbar-default .navbar-toggle .icon-bar {
//     background-color: white;
// }
.navbar-toggle:hover .icon-bar {
  background-color: #333;
}
.navbar-toggle {
  display: block;
  margin: auto;
}
.toggle-wrapper {
  position: absolute;
  height: $navHeight;
  top: 0;
  right: 45px;
  .navbar-toggle {
    height: $navHeight;
    padding: 0;
  }
}
nav, .nav-wrapper, .navbar-brand {
  height: $navHeight;
}
.navbar-brand img {
  height: $navLogoHeight;
}
.navbar-nav li a {
 line-height: $navLogoHeight;
 letter-spacing: 1px;
}

.nav>li>a {
  padding: 15px 35px;
}
.half-section {
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.full-section {
  min-height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.white-bg {
  background-color: white;
}
.half-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.full-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.footer-bg {
  background-position: 50% 100%;
}
.row-section [class*="col-"] {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.row-section a {
  color: white;
  text-decoration: none;
}
.dark-bg {
  h1, h2, h3, h4, p {
    color: white;
  }
}
.wp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.wp-full-height {
  height: 100%;
}
.wp-full-width {
  width: 100%;
}
.wp-table-cell {
  padding-top: 100px;
  display: table-cell;
  width: 100%;
  height: 100%;
}
.wp-table-cell-middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.wp-table-cell-bottom {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}
.section-info-wrap {
  .pad-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;;
  }
}
.red-bg {
  padding-bottom: 50px;
}
.standard-link {
  font-family: oswald;
  font-weight: 400;
  color: black;
  .fa {
    color: red;
    font-size: 18px;
    padding-left: 5px;
  }
}
.spaced-section {
  h1, h2, h3, h4 {
    line-height: 50px;
    letter-spacing: 0.15em;
  }
  p {
    line-height: 28px;
    letter-spacing: 0.15em;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}
.restricted-width {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.restricted-width-lg {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
.section-header {
  font-size: 36px;
}
.opaque-lg {
  font-family: oswald;
  opacity: .4;
  font-size: 100px;
  letter-spacing: 30px;
}
.wp-btn-transparent.wp-btn-white {
  border-color: white;
  color: white;
}

.wp-btn-extra-long {
  padding: 7px 30px;
  padding: 7px 30px 7px 20px;
  .fa {
    padding-left: 15px;
    margin-right: -15px;
  }
}

.wp-btn-transparent {
  background: transparent;
  border-color: #888;
  border-radius: 0;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  letter-spacing: 0.15em;
  margin: 10px auto;
}
.wp-btn-red {
  background-image: url('../images/red-bg.png');
  border-radius: 0;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  letter-spacing: 0.15em;
  margin: 10px auto;
}
.wp-btn-red:active {
  background-image: url('../images/red-bg.png');
}

.wp-input-btn-red, .wp-input-btn-red:active {
  background-image: url('../images/red-bg-sm.png') ;
  color: white;
}

.wp-btn-red:hover, .wp-input-btn-red:hover, .wp-btn-red:focus, .wp-input-btn-red:focus {
  color: white;
}
.section-header-sm {
  font-size: 30px;
}

@media only screen and (min-width: 480px) {
  .section-header {
    font-size: 42px;
  }
  .section-header-sm {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-header {
    font-size: 42px;
  }
  .blog-wrapper .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 767px) {
  .section-header {
    font-size: 54px;
  }
  .section-header-sm {
    font-size: 40px;
  }
  .wp-btn-extra-long {
    padding: 10px 45px 10px 25px;
    font-size: 14px;
    font-weight: 300;
    .fa {
      padding-left: 20px;
      margin-right: -20px;
    }
  }
  .blog-item-container {
    margin: 50px auto 80px;
  }
}
@media only screen and (max-width: 767px) {
  #featuredBlog {
    height: auto !important;
  }
  footer {
    padding-top: 50px;
    .links {
      padding-top: 20px;
    }
    .links [class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }
    .featured-blog-more {
      padding-bottom: 20px;
    }
  }
  .navbar-toggle {
    display: block;
  }
  .half-bg, .full-bg, .half-section, .full-section {
    height: auto;
    min-height: 250px;
    padding: 30px 0;
    .wp-full-height {
      min-height: 190px;
    }
  }
  .row-section [class*="col-"] {
    height: 200px;
  }
  .opaque-lg {
    font-size: 60px;
  }
  .featured-blog {
    width: 100%;
    padding-top: 0px;
  }
}
@media only screen and (min-width: 992px) {
  // .section-header {
  //   font-size: 68px;
  // }
  // .section-header-sm {
  //     font-size: 48px;
  // }
}
@media only screen and (max-width: 992px) {
  .featured-blog-info-wrap {
    padding: 30px 20px 0px;
  }
  .featured-blog-more {
    padding-left: 20px;
    padding-right: 20px;
  }
  #featuredBlog {
    width: 100%;
  }
}
