$navLogoHeight: 30px;
$navHeight: 80px;
$headerHeight: 40px;
$headerFontSize: 14px;

$lightblack: rgba(0, 0, 0, .84);
$white: rgba(255, 255, 255, .97);
$black: rgba(0, 0, 0, .97);
$bodyBlack: rgba(0, 0, 0, .54);
$dividerColor: rgba(0, 0, 0, .2);
$h1Size: 70px;
$h2Size: 55px;
$h3Size: 32px;
$h4Size: 21px;
$h5Size: 18px;
$pSize: 14px;

$navSpacing: 0.15em;


h1, h2, h3, h4, h5, th {
  letter-spacing: 0.2em;
  font-family: 'Barlow Condensed', sans-serif;
}
h1 {
  font-size: $h1Size;
}
h2 {
  font-size: $h2Size;
}
h3 {
  font-size: $h3Size;
}
h4 {
  font-size: $h4Size;
}
h5, th {
  font-size: $h5Size;
}
th {
  font-weight: 300;
}
p, li, td {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: $pSize;
  letter-spacing: 0.15em;
}
header, nav, footer, .btn, .oswald {
  font-family: 'Barlow Condensed', sans-serif;
}
a:hover, a:focus {
  text-decoration: none;
}
footer.black-footer {
  background-color: black;
  color: $white;
  a {
    color: $white;
  }
}
.white {
  color: $white;
}
.white:hover {
  color: $white;
  text-decoration: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border: 0;
  padding: 15px 8px;
}
.table-borderless td,
.table-borderless th, .table>thead>tr>th {
  border: 0;
}

.top-section {
  padding: 200px 100px 35px;
}
.top-section-sm {
  padding: 125px 100px 35px;
}
.home-video-wrapper {
  position: relative;
  overflow: hidden;
  /* padding-bottom percentage is screen resolution ratio e.g.: (720/1280)*100% */
  padding-bottom: 42.25%;
}

.home-video-wrapper iframe,
.home-video-wrapper object,
.home-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product-pairing {
  position: absolute;
  z-index: 9;
  right: -100px;
  font-weight: bold;
  a, a:hover {
    color: $bodyBlack;
    text-decoration: none;
  }
  span {
    color: red;
  }
}
.slick-slide,
.slick-slide * {
  outline: none !important;
}
#product-image-carousel,
#product-thumbs {
  visibility: hidden;
}
.slick-initialized {
  visibility: visible !important;
}
.product-customization {
  padding-top: 40px;
  p {
    font-weight: bold;
    padding: 15px 0 25px;
  }
  .p-size span a {
    float: right;
    color: $bodyBlack;
    border: solid $bodyBlack 1px;
    padding: 3px 5px;
    margin-left: 25px;
  }
  .p-size span a:hover {
    color: $bodyBlack;
    text-decoration: none;
  }
  .p-custom a {
    color: $black;
  }
  .p-custom a span {
    float: right;
    color: red;
  }
  .p-custom a:hover, .p-custom a:focus {
    text-decoration: none;
  }
  .p-finish span {
    float: right;
    border-radius: 50%;
    border: 1px black solid;
    display: inline-block;
    margin-top: -5px;
    margin-left: 25px;
    .myCircle {
      background-color: $bodyBlack;
      width: 14px;
      height: 14px;
      margin: 5px 5px 0px;
      display: inline-block;
      border-radius: 50%;
    }
}
  .border-bottom {
    border-bottom: 1px solid $dividerColor;
  }
}
.p-similar a {
  color: $black;
}
.blog-wrapper {
  background-color: #F2F2F2;
}
.featured-blog {
  width: 90%;
  padding-top: 100px;
}
.featured-blog-info-wrap {
  padding: 60px 60px 0px;
  .featured-blog-header {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.15em;
  }
  .featured-blog-desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    letter-spacing: 0.15em;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.featured-blog-more {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  .featured-blog-date {
    text-align: right;
    font-family: 'Barlow Condensed', sans-serif;
    // font-size: 12px;
    letter-spacing: 0.15em;
    color: $bodyBlack;
  }
}
#featuredBlog {
  height: 500px;
  margin: 0 auto;
  width: 90%;
  padding: 50px 0 0;
  overflow: hidden;
  .image-col {
    padding: 0;
    overflow: hidden;
  }
}
.featured-blog-image-wrap {
  overflow: hidden;
  max-height: 100%;
  #featuredBlogImage {
    max-height: 100%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 100%;
  }
}
.blog-item {
  margin-top: 20px;
  background-color: #fff;
  width: 320px;
  height: auto;
  overflow: hidden;
  img {
    width: 100%;
    max-height: 100%;
  }
  .blog-item-info-wrap {
    padding: 35px;
  }
  .blog-item-more {
    padding: 35px;
    p {
      text-align: left;
      font-family: 'Barlow Condensed', sans-serif;
      // font-size: 12px;
      letter-spacing: 0.15em;
      color: $bodyBlack;
      span {
        float:right;
        a {
          color: red;
        }
      }
    }
  }
  .blog-item-header {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.15em;
  }
}
.blog-item-container {
  width: 80%;
  margin: 30px auto 50px;
}
#footerAccordion {
  .panel {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
  }
  .panel-heading, .panel, .panel-body, .panel-group {
    border: 0;
    border-color: transparent;
    box-shadow: none;
  }
  .panel-body {
    padding: 0;
    border: 0;
  }
  .panel-heading {
    padding: 0px 0px 20px;
  }
  .footer-header {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.2em;
  }
}

.trans-white {
  color: rgba(255, 255, 255, 0.3);
}
.roboto {
  // h1, h2, h3, h4 {
  //   font-family: 'Roboto', sans-serif !important;
  // }
}
header {
  height: $headerHeight;
  padding: 10px 0;
  border-bottom: 2px solid $dividerColor;
  a {
    color: $bodyBlack;
    letter-spacing: 0.15em;
    padding-left: 15px;
    padding-right: 15px;
    font-size: $headerFontSize;
  }
  .icon {
    font-size: $headerFontSize+2;
    padding-left: 15px;
    padding-right: 10px;
  }
  .icon ~ .icon {
    padding-left: 10px;
    padding-right: 10px;
  }
  a:hover, a:focus {
    color: #333;
    background-color: transparent;
    text-decoration: none;
  }
  a:first-of-type {
    padding-left: 0 !important;
  }
  a:last-of-type {
    padding-right: 0 !important;
  }
  .navbar-divider {
    color: rgba(0, 0, 0, .2);
    padding-left: 5px;
    padding-right: 5px;
  }
}
.nav li:last-of-type a {
  padding-right: 100px;
}
input.form-control {
  border-radius: 0;
}
.input-group span .btn {
  border-radius: 0;
}
.no-padding {
  padding: 0;
}
.pad-top {
  padding-top: 30px;
}
.pad-top-lg {
  padding-top: 100px;
}
.pad-bottom {
  padding-bottom: 30px;
}
.pad-bottom-lg {
  padding-bottom: 100px;
}
footer {
  padding-top: 100px;
  padding-bottom: 20px;
  letter-spacing: 0.15em;
  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $dividerColor;
  }
  .links {
    padding-top: 50px;
  }
  .links [class*="col-"] {
    padding-bottom: 20px;
  }
  a {
    color: $black;
    font-weight: 200;
  }
  .links-heading {
    font-weight: 400;
    padding-bottom: 15px;
  }
  .footerLogo {
    height: $navLogoHeight;
  }

}
.text-center {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  img {
    margin-left: auto;
    margin-right: auto;
  }
  h1, h2, h3, h4, h5, p {
    text-align: center;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.navbar-default {
  margin-bottom: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.navbar-default.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.nav-wrapper {
  min-height: $navHeight;
  margin-bottom: -$navHeight;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
  color: $white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
}
.changeBlack .navbar-nav>li>a,  {
  color: #888 !important;
  transition: color 0.4s;
}
.changeBlack .navbar-toggle .icon-bar {
  background-color: #888 !important;
  transition: background-color 0.4s;
}
.changeWhite .navbar-nav>li>a,  {
  color: $white !important;
  transition: color 0.4s;
}
.changeWhite .navbar-toggle .icon-bar {
  background-color: $white !important;
  transition: background-color 0.4s;
}
.navbar-toggle:hover .icon-bar {
  background-color: #333;
}
.navbar-toggle {
  display: block;
  margin: auto;
}
.toggle-wrapper {
  position: absolute;
  // height: $navHeight;
  top: 0;
  right: 45px;
  .navbar-toggle {
    height: $navHeight;
    padding: 0;
  }
}
.navbar-brand {
  padding-top: ($navHeight - $navLogoHeight) / 2;
  padding-bottom: ($navHeight - $navLogoHeight) / 2;
}
nav {
  height: $navHeight;
}
.navbar-brand img {
  height: $navLogoHeight;
}
.navbar-nav li a {
  line-height: $navLogoHeight;
  letter-spacing: 0.15em;
  font-size: 15px;
}

.nav>li>a {
  padding: 0px 35px;
  line-height: $navHeight;
}
.half-section {
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.full-section {
  min-height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.white-bg {
  background-color: $white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.half-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.full-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
// .row-section [class*="col-"] {
//   background-position: 50% 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 300px;
// }
.row-section a {
  color: $white;
  text-decoration: none;
}
.dark-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  h1, h2, h3, h4, p {
    color: $white;
  }
}
.light-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  h1, h2, h3, h4, p {
    color: $black;
  }
}
.bg-top {
  background-position: 50% 0%;
}
.bg-bottom {
  background-position: 50% 100%;
}
.wp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.wp-full-height {
  height: 100%;
}
.wp-full-width {
  width: 100%;
}
.wp-table-cell {
  padding-top: 100px;
  display: table-cell;
  width: 100%;
  height: 100%;
}
.wp-table-cell-middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.wp-table-cell-bottom {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}
.pad-top-bottom, .spaced-section .pad-top-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}
.red-bg {
  padding-bottom: 50px;
}
.standard-link {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  color: black;
  .fa {
    color: red;
    font-size: 18px;
    padding-left: 5px;
  }
}
.v-center-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.v-center-section-lg {
  padding-top: 150px;
  padding-bottom: 150px;
}
.v-center-section-xl {
  padding-top: 200px;
  padding-bottom: 200px;
}
.spaced-section {
  p, li {
    line-height: 2em;
    letter-spacing: 0.15em;
    font-weight: 300;
    padding-top: 10px;
    // padding-bottom: 30px;
  }
  li {
    margin-bottom: 10px;
  }
  ul {
    padding-left: 15px;
  }
}
.restricted-width-left {
  max-width: 350px;
}
.restricted-width {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.restricted-width-lg {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}
.section-header {
  font-size: 36px;
}
.transparent-lg {
  opacity: .4;
  // font-size: 100px;
  font-size: $h1Size * 1.5;
  letter-spacing: 0.15em;
}
.transparent-md {
  opacity: .4;
  font-size: 50px;
  letter-spacing: 0.15em;
}
.transparent-sm {
  opacity: .4;
  font-size: 30px;
  letter-spacing: 0.15em;
}
.transparent-xs {
  opacity: .4;
  font-size: 18px;
  letter-spacing: 0.15em;
}
.fw-300 {
  font-weight: 300;
}
.blog-header {
  color: $white;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 0.15em;
}
.wp-btn-transparent.wp-btn-white {
  border-color: $white;
  color: $white;
}

.wp-btn-extra-long {
  padding: 7px 30px;
  padding: 7px 30px 7px 20px;
  .fa {
    padding-left: 15px;
    margin-right: -15px;
  }
}

.wp-btn-transparent {
  background: transparent;
  border-color: #888;
  border-radius: 0;
  color: #000;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 10px;
  letter-spacing: 0.15em;
  margin: 10px auto;
}
.wp-btn-red {
  background-image: url('../images/red-bg.png');
  border-radius: 0;
  color: $white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: $pSize;
  letter-spacing: 0.15em;
  margin: 10px auto;
}
.wp-btn-red:active {
  background-image: url('../images/red-bg.png');
}

.wp-input-btn-red, .wp-input-btn-red:active {
  background-image: url('../images/red-bg-sm.png') ;
  color: $white;
}

.wp-btn-red:hover, .wp-input-btn-red:hover, .wp-btn-red:focus, .wp-input-btn-red:focus {
  color: $white;
}
.section-header-sm {
  font-size: 30px;
}

@media only screen and (min--width: 480px) {
  nav .container-fluid, header .container-fluid {
    padding-right: 45px;
    padding-left: 45px;
  }
  .section-header {
    font-size: 42px;
  }
  .section-header-sm {
    font-size: 36px;
  }
}
@media only screen and (min-width: 767px) {
  .section-header {
    font-size: 54px;
  }
  .section-header-sm {
    font-size: 40px;
  }
  .wp-btn-extra-long {
    padding: 10px 45px 10px 25px;
    font-size: $pSize;
    font-weight: 300;
    .fa {
      padding-left: 20px;
      margin-right: -20px;
    }
  }
  .blog-item-container {
    margin: 30px auto 50px;
  }
  .product-options {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 992px) {
  // .section-header {
  //   font-size: 68px;
  // }
  // .section-header-sm {
  //     font-size: 48px;
  // }
}
@media only screen and (max-width: 992px) {
  .featured-blog-info-wrap {
    padding: 30px 20px 0px;
  }
  .featured-blog-more {
    padding-left: 20px;
    padding-right: 20px;
  }
  #featuredBlog {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }
  h1 {
    font-size: $h1Size * 0.8;
  }
  h2 {
    font-size: $h2Size * 0.8;
  }
  h3 {
    font-size: $h3Size * 0.8;
  }
  h4 {
    font-size: $h4Size * 0.85;
  }
  h5, th {
    font-size: $h5Size * 0.9;
  }

  // p {
  //   font-size: $pSize * 0.95;
  // }
  .transparent-lg {
    font-size: ($h1Size * 1.5) * 0.8;
  }
  .v-center-section {
     padding-top: 50px;
     padding-bottom: 50px;
  }
  .v-center-section-lg {
     padding-top: 75px;
     padding-bottom: 75px;
  }
  .v-center-section-xl {
     padding-top: 125px;
     padding-bottom: 125px;
  }
  .row-section .v-center-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .top-section {
    padding: 100px 35px 35px;
  }
  .top-section-sm {
    padding: 100px 35px 35px;
  }
  .product-pairing {
    position: absolute;
    right: 15px;
  }
  #featuredBlog {
    height: auto !important;
    padding-top: 0;
    .image-col {
      height: 300px;
    }
  }
  footer {
    padding-top: 50px;
    .links {
      padding-top: 20px;
    }
    .links [class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }
    .featured-blog-more {
      padding-bottom: 20px;
    }
  }
  #footerAccordion {
    #heading1 {
      border-top: 1px solid $white;
    }
    .panel-heading {
      padding: 20px 0px 20px;
      border-bottom: 1px solid $white;
    }
    .panel-body {
      padding-top: 10px;
    }
  }
  .navbar-toggle {
    display: block;
  }
  .half-bg, .full-bg, .half-section, .full-section {
    height: auto;
    min-height: 250px;
    padding: 30px 0;
    .wp-full-height {
      min-height: 190px;
    }
  }
  // .row-section [class*="col-"] {
  //   height: 200px;
  // }
  .opaque-lg {
    font-size: 60px;
  }
  .featured-blog {
    width: 100%;
    padding-top: 0px;
  }
  .pad-top-lg {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: $h1Size * 0.75;
  }
  h2 {
    font-size: $h2Size * 0.75;
  }
  h3 {
    font-size: $h3Size * 0.75;
  }
  h4 {
    font-size: $h4Size * 0.8;
  }
  h5, th {
    font-size: $h5Size * 0.9;
  }
  // p {
  //   font-size: $pSize * 0.9;
  // }
  .transparent-lg {
    font-size: ($h1Size * 1.5) * 0.65;
  }
  .top-section {
    padding: 100px 10px 10px;
  }
  .top-section-sm {
    padding: 100px 10px 10px;
  }
  .blog-wrapper .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .toggle-wrapper {
    right: 15px;
  }
}
