body {
  font-family: "Oswald", sans-serif;
}

header {
  padding: 10px 0;
  border-bottom: 2px solid #e7e7e7;
}

header a {
  color: #777;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

header a:hover, header a:focus {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

header a:first-of-type {
  padding-left: 0;
}

header a:last-of-type {
  padding-right: 0;
}

header .icon {
  font-size: 14px;
}

header .navbar-divider {
  color: #e7e7e7;
  padding-left: 10px;
  padding-right: 10px;
}

.text-center {
  text-align: center;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

nav .container-fluid, header .container-fluid {
  padding-right: 45px;
  padding-left: 45px;
}

.navbar-default {
  background-color: white;
  margin-bottom: 0;
}

.navbar-default.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-wrapper {
  width: 100%;
  min-height: 60px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
  background-color: #fff;
}

.navbar-toggle {
  float: right;
  display: block;
  margin-top: 23px;
  margin-left: 30px;
  padding: 0;
}

nav, .nav-wrapper, .navbar-brand {
  height: 60px;
}

.navbar-brand img {
  height: 30px;
}

.navbar-nav li a {
  line-height: 30px;
  letter-spacing: 1px;
}

.nav > li > a {
  padding: 15px 35px;
}

.half-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.full-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg p {
  color: white;
}

.wp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.wp-full-height {
  height: 100%;
}

.wp-table-cell {
  padding-top: 100px;
  display: table-cell;
  width: 100%;
  height: 100%;
}

.wp-table-cell-middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .navbar-toggle {
    display: block;
  }
}
